@model SatelliteTec.Models.Product

@{
    ViewBag.Title = "Editar Producto";
}





<div style="margin-top: 50px">
    <div class="shadow p-3 mb-5 bg-white rounded">

        <h2 style="text-align: center">@ViewBag.Title</h2>

    </div>


    <div class="card">
        <h5 class="card-header">

            <label style="cursor: pointer;" onclick="location.href='@Url.Action("Index", "Products")'"><i class="far fa-hand-point-left fa-lg"></i> Regresar a la Lista</label>
        </h5>
        <div class="card-body">
            <h5 class="card-title">Puede editar cualquier dato</h5>



            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Product</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>

</div>











@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
