<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <nav class="navbar  navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="@Url.Action("Login","Account")">Satelites Tec</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Login","Account")">Home <span class="sr-only">(current)</span></a>
                </li>
                @if (User.IsInRole("Almacenist"))
                {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Products")">Productos</a>
                </li>}
                @if (User.IsInRole("Technical"))
                {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "")">Contacto</a>
                </li>}
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact","Home")">Contacto</a>
                </li>


            </ul>
 
                @Html.Partial("_LoginPartial")

        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="position: absolute; bottom: 0">
            <p>&copy; @DateTime.Now.Year - Satelites Tec</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
